<form [formGroup]="form" (submit)="onSubmit()" *ngIf="this.form">
    <div>
        <label for="title">Title</label>
        <input name="title" id="title" formControlName="title" />
        <span *ngIf="showError('title')">Error</span>
    </div>

    <div>
        <label for="year">Year</label>
        <input type="number" name="year" id="year" formControlName="year" />
        <span *ngIf="showError('year')">Error</span>
    </div>

    <div>
        <label for="category">Category</label>
        <input name="category" id="category" formControlName="category" />
        <span *ngIf="showError('category')">Error</span>
    </div>

    <div>
        <input type="submit" [disabled]="form.invalid" />
        <button (click)="onCancelClick()" type="button">Cancel</button>
    </div>
</form>